.flow-list {
  display: grid;
  padding-left: 30px;
  padding-right: 30px;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 200px;
}
.flow-card {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #c3c3c3c3;
}
.flow-card-head {
  border-bottom: 1px solid #c3c3c3c3;
  border-bottom-width: thick;
}
.flow-card-content {
  margin-top: 10px;
}

.single-element-label {
  border-radius: 5px;
  padding: 3px;
  background-color: #90e0ff;
  margin-left: 5px
}