.pos-auto .step-card {
  border-radius: 10px;
  border: 1px solid #c3c3c3c3;
}
.pos-auto .step-card .foot {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
.pos-auto .step-card .head > .row:first-child {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}