/* .steps-view {
  --step-view-width: 100px;
  --gap: 80px;
  --columns: 6;
  display: grid;
  justify-items: center;
  grid-template-columns: auto auto auto auto auto auto;
}
.step-view {
  width: var(--step-view-width);
  height: var(--step-view-width);
  border-radius: 100%;
  border: 1px solid #c3c3c3c3;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  position: relative;
}
.step-view .content {
  font-size: 1.1em;
  max-width: var(--step-view-width);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.step-view-icons {
  width: var(--step-view-width);
  height: var(--step-view-width);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  position: relative;
  border-radius: 100%;
  border: 1px solid #c3c3c3c3;
}
.step-view-icons .svg-icon {
  position: absolute;
}
.step-view-icons .svg-icon.pen {
  left: -20px;
}
.step-view-icons .svg-icon.ashbin {
  right: -20px;
} */

.steps-view > .step-view-drag:first-child .svg-icon.directionUp > svg{
  display: none;
}
.steps-view > .step-view-drag:last-child .svg-icon.directionDown > svg {
  display: none;
}
.step-view {
  align-items: center;
  display: grid;
  grid-template-columns: max-content 200px auto max-content;
  grid-gap: 10px;
  border: 1px solid #c3c3c3c3;
  border-radius: 10px;
  padding: 10px;
}

.step-view .content,
.step-view .log {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: inherit;
}
.step-view .log {
  text-align: center;
}
.step-view .perform {
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.8em;
}
.step-view .perform.while {
  background-color: rgb(60, 60, 255, 0.5);
}
.step-view .perform.buildIn {
  background-color: rgb(60, 60, 255, 0.5);
}
.step-view .perform.cache {
  background-color: rgb(60, 60, 255, 0.5);
}
.step-view .perform.input {
  background-color: rgb(60, 60, 255, 0.5);
}
.step-view .perform.pressKey {
  background-color: rgb(60, 60, 255, 0.5);
}
.step-view .perform.recycleView {
  background-color: rgb(60, 60, 255, 0.5);
}
.step-view .perform.sleep {
  background-color: rgb(60, 60, 255, 0.5);
}
.step-view .perform.swipe {
  background-color: rgb(60, 60, 255, 0.5);
}
.step-view .perform.wait {
  background-color: rgb(60, 60, 255, 0.5);
}
.step-view > span:last-child > span:last-child {
  margin-left: 10px;
}
.step-view-drag {
  overflow: hidden;
  max-height: 200px;
}
.step-view-drag:not(:last-child) {
  margin-bottom: 10px;
}
.step-view-drag.dragging {
  max-height: 0;
  transition: max-height 1s linear;
}
/* .step-view.dragging { */
  /* max-height: 0px;
  transition: max-height 1s linear;
} */