.x-input {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.x-input.border-clear {
  border-style: none;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: var(--color-primary);
  outline: none;
  box-shadow: 0 0 8px var(--color-primary);
  -webkit-border-color: var(--color-primary);
}

input:disabled {
  cursor: not-allowed;
  background-color: #c3c3c3c3;
}