:root {
  --color-primary: rgb(88, 88, 255, 0.8);
  --color-success: rgba(141, 255, 124, 0.8);
  --color-danger: rgba(255, 127, 88, 0.8);
  --color-warning: rgba(255, 197, 88, 0.8);
  --color-border-common: #c3c3c3ce;
}
select:focus {
  border-color: var(--color-primary);
  outline: none;
  box-shadow: 0 0 8px var(--color-primary);
  -webkit-border-color: var(--color-primary);
}
.flex {
  display: flex;
  align-items: center;
}
.pointer {
  cursor: pointer;
}
.sm {
  font-size: 0.8em;
}


@keyframes scale-disappear {
  from {
    scale: 1;
  }
  to {
    scale: 0;
  }
}





.x-test-border {
  background-color: #c3c3c3c3;
}