.x-calendar-week {
  display: grid;
  grid-template-columns: calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7);
}
.x-calendar-week > div {
  padding: 10px;
  border-bottom: 1px solid #c3c3c3c3;
  text-align: center;
}
.x-calendar-week > div:not(:last-child) {
  border-right: 1px solid #c3c3c3ce;
}

.x-calendar-day {
  display: grid;
  grid-template-columns: calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7);
  height: 450px;
}
.x-calendar-day > div {
  border-bottom: 1px solid #c3c3c3c3;
  text-align: right;
}
.x-calendar-day > div > span {
  display: inline-block;
  position: relative;
  right: 8px;
  top: 8px;
}
.x-calendar-day > div:not(.not-current-month) > span:hover {
  animation: hover-day .5s;
  animation-fill-mode: forwards;
}
.x-calendar-day > div.today > span {
  font-size: 1.5em;
}
.x-calendar-day > div.today {
  background-color: #3f3fff4a;
}
.x-calendar-day > div.selected {
  box-shadow: 0px 0px 5px #4747ffd4;
}
.x-calendar-day > div:not(.last-day-in-line) {
  border-right: 1px solid #c3c3c3c3
}
.x-calendar-day > div.not-current-month {
  color: #c3c3c3c3;
}
.x-calendar-day > div:not(.not-current-month) {
  cursor: pointer;
}
.x-calendar-todo-add {
  background-color: rgb(209, 209, 209);
  border-radius: 5px;
  padding: 10px 10px 5px;
}
#x-calendar-todo-view:before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: rgb(209, 209, 209);
  transform: translate(-50%, -50%) rotate(-45deg);
  display: inline-block;
}
#x-calendar-todo-view.top-left:before {
  /* left: -12px; */
  top: 12px;
}
#x-calendar-todo-view.top-right:before {
  top: 12px;
  right: -12px;
}
#x-calendar-todo-view.bottom-left:before {
  bottom: 0px;
}
#x-calendar-todo-view.bottom-right:before {
  right: -12px;
  bottom: 0px;
}

@keyframes hover-day {
  0% {

  }
  50% {
    transform: scale(2.5);
  }
  100% {
    transform: scale(2);
  }
}