.x-todo {
  --list-width: 200px;
  --input-height: 25px;
}
.x-todo-container {
  display: grid;
  grid-template-columns: var(--list-width) calc(100% - var(--list-width));
  height: 100vh;
  /* overflow-y: scroll; */
}
.task-group {
  border-right: 1px solid var(--color-border-common);
}
.task-group-create {
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.task-group-create input {
  border-style: none;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  width: 90%;
}
.task-group-list {
  height: calc(100vh - 40px);
}
.task-group-list .group-item {
  padding: 5px;
  margin: 0;
  display: flex;
  cursor: pointer;
}
.task-group-list .group-item.select {
  background-color: rgba(162, 162, 255, 0.3)
}
.task-group-list .group-item > img {
  margin-right: 5px;
}
.task-list {
  border-right: 1px solid var(--color-border-common);
}
.task-list {
  padding-bottom: 10px;
}
.task-list-list {
  height: calc(100% - 40px);
}
.task-list-create {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.task-list-create input {
  height: var(--input-height);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-style: none;
  font-size: 1.25em;
}
.task-list-list .item {
  padding: 10px 8px;
  margin: 0;
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid var(--color-border-common);
  position: relative;
}
.task-list-list .item.select {
  background-color: rgba(162, 162, 255, 0.3);
}
.task-list-list .item.select > .checkbox {
  border-color: black;
}
.task-list-list .item .remove {
  position: absolute;
  right: 5px;
}
.x-todo .checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--color-border-common);
  margin-right: 10px;
  cursor: pointer;
}
.x-todo .checkbox.sm {
  width: 15px;
  height: 15px;
}
.x-todo .checkbox.completing {
  animation: complete-animation .5s;
  animation-fill-mode: forwards;
}
.x-todo .checkbox.complete {
  background-color: rgb(107, 107, 255, 0.5);
}
.x-todo .checkbox.complete + span{
  text-decoration: line-through;
  cursor: not-allowed;
}
.sub-task input {
  height: var(--input-height);
  width: 80%;
  box-sizing: border-box;
  border-style: none;
}
.dead-time {
  display: flex;
}
.task-detail-container {
  position: fixed;
  height: 100%;
  width: 60%;
  top: 0;
  left: 100%;
  background-color: white;
  border-left: 1px solid black;
}
.task-detail-container.show {
  animation: task-detail-show-animation .3s ease;
  animation-fill-mode: forwards;
}
.task-detail-container.hide {
  animation: task-detail-hide-animation .5s ease;
  animation-fill-mode: forwards;
}
.task-detail .title > input:not(:focus),
.task-detail .description > textarea:not(:focus) {
  cursor: pointer;
}

#todo-context-menu {
  position: absolute;
  display: none;
  height: 0;
  width: 0;
  border-radius: 5px;
  padding: 0px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: white;
}
#todo-context-menu.show {
  display: block;
  width: 85px;
  height: auto;
}
#todo-context-menu ul {
  list-style: none;
  padding-left: 10px;
  margin: 5px;
  padding-left: 3px;
}
#todo-context-menu ul > li {
  font-size: .8em;
}
#todo-context-menu ul >li:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-border-common);
}
#todo-context-menu ul >li:not(:first-child) {
  padding-top: 10px;
}


@keyframes complete-animation {
  0%{}

  100%{
    background-color: rgb(107, 107, 255, 0.5);
  }
}
@keyframes task-detail-show-animation {
  0% {
    left: 100%;
  }
  100% {
    left: 40%;
  }
}
@keyframes task-detail-hide-animation {
  0% {
    left: 40%;
  }
  100% {
    left: 100%;
  }
}

.task-list-complete-list {
  background-color: rgba(61, 178, 255, 0.4);
  color: white;
  font-size: 0.8em;
  padding: 3px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}