.x-todo {
  --list-width: 200px;
  --input-height: 25px;
}
.x-todo-container {
  display: grid;
  grid-template-columns: var(--list-width) calc(100% - var(--list-width));
  height: 100vh;
}
.task-group {
  height: 100%;
  border-right: 1px solid var(--color-border-common);
}
.task-group-create {
  height: 30px;
}
.task-group-create input {
  height: var(--input-height);
  width: 100%;
  box-sizing: border-box;
  border-style: none;
  border-bottom: 1px solid var(--color-border-common);
}
.task-group-list .item {
  padding: 5px;
  margin: 0;
  display: flex;
  cursor: pointer;
}
.task-group-list .item > img {
  margin-right: 5px;
}
.task-list-create {
  height: 30px;
}
.task-list-create input {
  height: var(--input-height);
  width: 100%;
  box-sizing: border-box;
  border-style: none;
  border-bottom: 1px solid var(--color-border-common);
}
.task-list-list .item {
  padding: 10px 8px;
  margin: 0;
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid var(--color-border-common);
}
.task-list-list .item > .checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--color-border-common);
  margin-right: 10px;
}
.x-todo .checkbox.complete {
  animation: complete-animation .5s;
  animation-fill-mode: forwards;
}
.task-detail {
  position: absolute;
  right: 0px;
  height: calc(100% - var(--input-height));
  top: var(--input-height);
  width: calc(100% - var(--list-width) - 200px);
  left: calc(var(--list-width) + 200px);
  background-color: rgba(202, 202, 255, 0.5);
}
.sub-task input {
  height: var(--input-height);
  width: 80%;
  box-sizing: border-box;
  border-style: none;
}


@keyframes complete-animation {
  0%{}

  100%{
    background-color: rgb(107, 107, 255, 0.5);
  }
}