
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(155, 223, 255);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.app-content {
  box-sizing: border-box;
}
.app-content.hide {
  width: 0px;
  height: 0px;
}
.app-content.show {
  width: 100%;
  height: 100%;
}
.app-content.showing {
  animation: app-content-showing .5s ease;
  animation-fill-mode: forwards;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes app-content-showing {
  from {
    width: 0px;
    height: 0px;
  }

  to {
    width: 100%;
    height: 100%;
  }
}